{% extends "base.html" %}
{% block content %}

<div class="container-fluid parent-container">
    <h2>Your Space</h2>

    <div class="subfolders-section mb-4">
        
        <div class="row">
            {% include 'newfolder.html' %}
            
            {% for folder in folders %}
                <div class="col-6 col-md-3 col-lg-1-5 text-center">
                    <a href="{% url 'service:folder_view' folder.id %}" class="text-decoration-none">
                        <i class="bi bi-folder-fill" style="font-size: 3rem; color: #ffc107;"></i>
                        <p class="mt-2">{{ folder.name }}</p>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>

    {% if errors %}
        <div>
            <p> {{ errors }} </p>
        </div>
    {% endif %}

</div>

{% endblock %}